<mat-grid-list cols="1" rowHeight="70px">
  <mat-grid-tile>
    <mat-label class="align-left">Currency</mat-label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="align-left">
      <mat-label>Number</mat-label>
      <input matInput #postalCode maxlength="11" value="{{dictCurrElement.number}}">
      <mat-hint align="end">{{postalCode.value.length}} / 11</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="align-left">
      <mat-label>name</mat-label>
      <input matInput #postalCode maxlength="255" value="{{dictCurrElement.name}}">
      <mat-hint align="end">{{postalCode.value.length}} / 255</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="align-left">
      <mat-label>Code</mat-label>
      <input matInput #postalCode maxlength="3" value="{{dictCurrElement.code}}">
      <mat-hint align="end">{{postalCode.value.length}} / 3</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="align-left">
      <mat-label>symbol</mat-label>
      <input matInput #postalCode maxlength="5" value="{{dictCurrElement.symbol}}">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>