<mat-list>
  <h3 matSubheader>Dictionaries</h3>
  <mat-list-item role="listitem" *ngFor="let dict of dictList">
    <!--<a mat-button [routerLink]="['./', dict.name]">{{dict.name}}</a>-->
    <a mat-button (click) = "openDictJournal(dict.name)">{{dict.caption}}</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Documents</h3>
  <mat-list-item role="listitem" *ngFor="let doc of docList">
    <a mat-button (click) = "openDocJournal(doc.name)">{{doc.caption}}</a>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>