<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Bank" aria-label="Bank" [matAutocomplete]="auto" [formControl]="searchCtrl" [value] = "selectedElement?.name">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelected()">
      <mat-icon>close</mat-icon>
    </button>    
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectElement($event)" [displayWith]="displayValue">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let bank of filteredBanks" [value]="bank">
          <span> {{bank.number}}.  <b> {{bank.name}} </b></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
