<!--<a mat-button [routerLink]="['./', row.number]">{{row[theader]}}</a>-->
<table mat-table [dataSource]="tableData">
  <ng-container [matColumnDef]="theader" *ngFor="let theader of tableHeaders">
    <mat-header-cell *matHeaderCellDef> {{theader}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row[theader]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
  <mat-row (click)="openElement(row)" *matRowDef="let row; columns: tableHeaders"></mat-row>
</table>