:host {
  width: 100%;
  background: rgb(240, 245, 247);
}

.align-left {
  max-width: 200px;
  position: absolute;
  left: 5px;
}

.error {
  padding: 16px;
  min-width: 200px;
  color: white;
  background-color: red;
  white-space: pre-wrap;
}
